
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post">
    <input type="text" name="ChannelName" value="@Model.ChannelName" class="form-control" placeholder="ChannelName" />
    <span class="text-danger">@Html.ValidationMessage("ChannelName")</span><br>

    <input type="date" name="EstablishedYear" value="@Model.EstablishedYear" class="form-control" placeholder="EstablishedYear" />
    <span class="text-danger">@Html.ValidationMessage("EstablishedYear")</span><br>

    <input type="text" name="Country" value="@Model.Country" class="form-control" placeholder="Country" />
    <span class="text-danger">@Html.ValidationMessage("Country")</span><br>

    <input type="submit" value="Create" class="btn btn-success" />

</form>