
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

h2>Delete</h2>
<h1>Are you Sure to delete?</h1>
<h1>Name: @Model.ChannelName</h1>
<h3>Id: @Model.ChannelId</h3>
<h3>Id: @Model.EstablishedYear</h3>
<h3>Id: @Model.Country</h3>

<form method="post">
    <input type="hidden" name="ChannelId" value="@Model.ChannelId" />
    <input type="submit" value="Yes" name="dcsn" class="btn btn-danger" />
    <input type="submit" value="No" name="dcsn" class="btn btn-warning" />
</form>

