
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<br />
<h1>Name: @Model.FirstName @Model.LastName</h1>
<h3>Id: @Model.CustomerId</h3>
<h3>Email :@Model.Email</h3>
<h3>Phone: @Model.Phone</h3>
<h3>Address: @Model.Address</h3>
<h3>Joinning Date: @Model.DateJoined</h3>
<br />

<a href="/Customer/list" class="btn btn-success">Back</a>

